
<input type="checkbox" id="displayEmail" name="displayEmail" @bind="displayEmail" />
<label for="displayEmail">Display Email</label>
<br />

@if (contacts is null)
{
    @NullContacts
}
else if(contacts.Count == 0)
{
    @EmptyContacts
}
else
{
    @foreach (var value in contacts)
    {
        <Contact03 contact="value" displayEmail="@displayEmail" deleteRowContact="deleteContact" />
    }
}

@code {
    private bool displayEmail = true;

    [Parameter]
    public RenderFragment NullContacts { get; set; }

    [Parameter]
    public RenderFragment EmptyContacts { get; set; }

    [Parameter]
    public List<Contact> contacts { get; set; }

    private void deleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }
}
